<p><%= link_to "Muppets", muppets_path %> / <%= @muppet.name %></p>  
 <h1><%= @muppet.name %></h1>
 <img src="<%= @muppet.image_url %>">

<<<<<<< HEAD
  <p><%= link_to 'Edit', edit_muppet_path(@muppet) %></p>
=======
>>>>>>> dfef7a4e96a47bea226ae97a9d5221b2b7f16d41

  <p><%= link_to 'Destroy', muppet_path(@muppet), :method => :delete, :'data-confirm' => 'Are you sure?' %></p>